@model PaiVapp.Models.Distrito

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Distrito</h2>

<h3>¿Esta seguro de querer eliminarlo?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodDistrito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodDistrito)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NDistrito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NDistrito)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento.DepartamentoID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DistritoID" />
        <input type="submit" value="Eliminiar" class="btn btn-default" /> |
        <a asp-action="Index"
           class="btn btn-default previous ">
            <span aria-hidden="true">&larr;</span>
            Volver
        </a>
    </form>
</div>
