@{
    ViewData["Title"] = "Distrito";
}
@using PaiVapp.Models
@model IEnumerable<PaiVapp.Models.Views.DistView>

<div class="page-header">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>

<div class="panel panel-primary">
    <div class="panel-heading panel-head">Distrito</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditDistModal" data-toggle="modal" asp-action="AddEditDist" data-target="#modal-action-dist" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Add Distrito
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                   
                    <th>Cod Departamento</th>
                    <th>Departamento</th>
                    <th>Cod Distrito</th>
                    <th>Distrito</th>
                    <th>Estado</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CodDepartamento)</td>
                    <td>@Html.DisplayFor(modelItem => item.NDepartamento)</td>
                    <td>@Html.DisplayFor(modelItem => item.CodDistrito)</td>
                    <td>@Html.DisplayFor(modelItem => item.NDistrito)</td>
                    <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                    <td>
                        <a id="editDistModal" data-toggle="modal" asp-action="AddEditDist" asp-route-id="@item.DistritoID" data-target="#modal-action-dist" class="btn btn-info">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a id="deleteDistModal" data-toggle="modal" asp-action="DeleteDist" asp-route-id="@item.DistritoID" data-target="#modal-action-dist" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="modal-action-dist-label" role="dialog" tabindex="-1" id="modal-action-dist" class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts
    {
    <script>
    (function ($) {
        function Distrito() {
            var $this = this;

            function initilizeModel() {
                $("#modal-action-dist").on('loaded.bs.modal', function (e) {
                }).on('hidden.bs.modal', function (e) {
                    $(this).removeData('bs.modal');
                });
            }
            $this.init = function () {
                initilizeModel();
            }
        }
        $(function () {
            var self = new Distrito();
            self.init();
        })
    }(jQuery))

    </script>
}