@model PaiVapp.Models.DosisBiologico

@{
    ViewData["Title"] = "Delete";
}

@{
    ViewData["Title"] = "Eliminar";
}
<h2>Eliminar Pais</h2>
<h3>¿Esta seguro de querer eliminar esta Dosis? Es permanente.</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biologico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biologico.BiologicoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dosis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dosis.DosisID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edad.EdadID)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DosisBiologicoID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index"
           class="btn btn-default ">
            <span aria-hidden="true">&larr;</span>
            Volver
        </a>
    </form>
</div>