@model IEnumerable<PaiVapp.Models.DosisBiologico>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Biologico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biologico.BiologicoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosis.DosisID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad.EdadID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DosisBiologicoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DosisBiologicoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DosisBiologicoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
