@model PaiVapp.Models.Departamento

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar Departamento</h2>

<h3>¿Esta seguro de querer eliminarlo""</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodDepartamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodDepartamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NDepartamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NDepartamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pais.PaisID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartamentoID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index"
           class="btn btn-default">
            <span aria-hidden="true">&larr;</span>
            Volver
        </a>
    </form>
</div>
