@{
    ViewData["Title"] = "Departamento";
}
@using PaiVapp.Models
@model IEnumerable<PaiVapp.Models.Views.DptoView>

<div class="page-header">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>

<div class="panel panel-primary">
    <div class="panel-heading panel-head">Departamento</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditDptoModal" data-toggle="modal" asp-action="AddEditDpto" data-target="#modal-action-dpto" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Add Departamento
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Pais</th>
                    <th>Cod Departamento</th>
                    <th>Departamento</th>
                    <th>Estado</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem=>item.NPais)</td>
                        <td>@Html.DisplayFor(modelItem => item.CodDeparamento)</td>
                        <td>@Html.DisplayFor(modelItem => item.NDepartamento)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                        <td>
                            <a id="editDptoModal" data-toggle="modal" asp-action="AddEditDpto" asp-route-id="@item.DepartamentoID" data-target="#modal-action-dpto" class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a id="deleteDptoModal" data-toggle="modal" asp-action="DeleteDpto" asp-route-id="@item.DepartamentoID" data-target="#modal-action-dpto" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="modal-action-dpto-label" role="dialog" tabindex="-1" id="modal-action-dpto" class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts
    {
<script>
    (function ($) {
        function Departamento() {
            var $this = this;

            function initilizeModel() {
                $("#modal-action-dpto").on('loaded.bs.modal', function (e) {
                }).on('hidden.bs.modal', function (e) {
                    $(this).removeData('bs.modal');
                });
            }
            $this.init = function () {
                initilizeModel();
            }
        }
        $(function () {
            var self = new Departamento();
            self.init();
        })
    }(jQuery))

</script>
}