@model PaginatedList<PaiVapp.Models.Departamento>

@{
    ViewData["Title"] = "Indice";
}
<div class="page-header">
    <h2>Departamentos</h2>
</div>
    <p>
        <a asp-action="Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear Departamento</a>
    </p>
<div class="contornos">
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Buscar por nombre de Departamento: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <button type="submit" value=" Search" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                |  <a asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-th-list" aria-hidden="false"></span> Mostrar Lista completa</a>

            </p>
        </div>
    </form>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CodV"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Codigo</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DepartamentoV"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Departamento</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PaisV"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Pais</a>
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodDepartamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NDepartamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pais.NPais)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.DepartamentoID"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a> |
                        <a asp-action="Details" asp-route-id="@item.DepartamentoID"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> |
                        <a asp-action="Delete" asp-route-id="@item.DepartamentoID"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default previous @prevDisabled">
        <span aria-hidden="true">&larr;</span>
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default next @nextDisabled">
        Siguiente <span aria-hidden="true">&rarr;</span>
    </a>
    </div>