@model PaiVapp.Models.Pais

@{
    ViewData["Title"] = "Detalle";
}

<h2>Detalle Pais</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NPais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NPais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaisID">Editar</a> |
    <a asp-action="Index"
       class="btn btn-default previous ">
        <span aria-hidden="true">&larr;</span>
        Volver
    </a>
</div>
