@{
    ViewData["Title"] = "Pais";
}
@using PaiVapp.Models
@model IEnumerable<PaiVapp.Models.Views.PaisView>

<div class="page-header">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</div>

<div class="panel panel-primary">
    <div class="panel-heading panel-head">Pais</div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditPaisModal" data-toggle="modal" asp-action="AddEditPais" data-target="#modal-action-pais" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Add Pais
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Pais</th>
                    <th>Nacionalidad</th>
                    <th>Estado</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.NPais)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nacionalidad)</td>
                        <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                        <td>
                            <a id="editPaisModal" data-toggle="modal" asp-action="AddEditPais" asp-route-id="@item.PaisID" data-target="#modal-action-pais"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a id="deletePaisModal" data-toggle="modal" asp-action="DeletePais" asp-route-id="@item.PaisID" data-target="#modal-action-pais" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="modal-action-pais-label" role="dialog" tabindex="-1" id="modal-action-pais" class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content">
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        (function ($) {
            function Pais() {
                var $this = this;

                function initilizeModel() {
                    $("#modal-action-pais").on('loaded.bs.modal', function (e) {
                    }).on('hidden.bs.modal', function (e) {
                        $(this).removeData('bs.modal');
                    });
                }
                $this.init = function () {
                    initilizeModel();
                }
            }
            $(function () {
                var self = new Pais();
                self.init();
            })
        }(jQuery))

    </script>
}