@model PaiVapp.Models.RegionSanitaria

@{
    ViewData["Title"] = "Detalle";
}
<h2>Detalle Región Sanitaria</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento.NDepartamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodRS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodRS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NRegionS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NRegionS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RegionSanitariaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
