@model PaiVapp.Models.Captacion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Captacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TCI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TCI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CICod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CICod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegNacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PApellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PApellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SApellido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SApellido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FNacimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FNacimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CIMadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CIMadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomApMadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomApMadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailMadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailMadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CIPadreT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CIPadreT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomApPadre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomApPadre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailPT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailPT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Barrio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Barrio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferenciaDir)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenciaDir)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComIndigena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComIndigena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Etnia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Etnia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlergiaSN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlergiaSN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlergVacuna)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlergVacuna)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescVacuna)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescVacuna)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlergMedic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlergMedic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescMedic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescMedic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlergOtros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlergOtros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescOtros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescOtros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoNut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoNut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pani)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pani)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LacMaterna)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LacMaterna)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SegMedico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SegMedico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TSeguro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TSeguro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DSeguro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DSeguro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento.DepartamentoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distrito.DistritoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pais.PaisID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CaptacionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
