@model IEnumerable<PaiVapp.Models.Captacion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="lista" class="table">
    <thead>
        <tr>
             
                <th>
                    @Html.DisplayNameFor(model => model.CICod)
                </th>
               
                <th>
                 Nombres</th>
           
                <th>
                 Apellidos </th>
            
                <th>
                    @Html.DisplayNameFor(model => model.FNacimiento)
                </th>
     
                <th>
                    @Html.DisplayNameFor(model => model.AlergiaSN)
                </th>
              
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
           @Html.DisplayFor(modelItem => item.CICod)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.PNombre) @Html.DisplayFor(modelItem => item.SNombre) @Html.DisplayFor(modelItem => item.TNombre)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.PApellido) @Html.DisplayFor(modelItem => item.SApellido)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.FNacimiento)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.AlergiaSN)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.DepartamentoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito.DistritoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais.PaisID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaptacionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaptacionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaptacionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



