@model IEnumerable<PaiVapp.Models.Edad>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NEdad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Semanas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NEdad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semanas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EdadID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EdadID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EdadID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
