@model PaginatedList<PaiVapp.Models.Edad>
@{
    ViewData["Title"] = "Lista";
}
<div class="page-header">
    <h2>Edades</h2>
</div>


<p>

    <a asp-action="Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear Edad</a>
</p>


<div class="contornos">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Edad
                </th>
                <th>
                   Semanas
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NEdad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Semanas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EdadID"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a> |
                        <a asp-action="Details" asp-route-id="@item.EdadID"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a> |
                        <a asp-action="Delete" asp-route-id="@item.EdadID"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    </td>
         
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default previous @prevDisabled">
        <span aria-hidden="true">&larr;</span>
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default next @nextDisabled">
        Siguiente <span aria-hidden="true">&rarr;</span>
    </a>
</div>