@model PaiVapp.Models.CategoriaServicio


@{
    ViewData["Title"] = "Eliminar";
}
<h2>Eliminar Categoria</h2>
<h3>¿Esta seguro de querer eliminar esta categoria?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NCategoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NCategoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaServicioID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index"
           class="btn btn-default ">
            <span aria-hidden="true">&larr;</span>
            Volver
        </a>
    </form>
</div>
